@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap");

:root {
  --text-color: #667085;
  --text-color-dark: #3a404e;
  --main-color: #8e2424;

  --fonte-principal: "inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* css do navbar */

header {
  width: 100vw;
  height: 80px;
}
navbar {
  display: flex;
  align-items: center;
  margin-top: 18px;
  margin-left: 80px;
}
navbar,
div {
  display: flex;
  align-items: center;
}
.logo {
  margin-left: 12%;
  gap: 10px;
  font-family: var(--fonte-principal);
}
.logo,
p {
  color: var(--text-color-dark);
}
.navegacao {
  margin-left: 10%;
  gap: 35px;
  font-family: var(--fonte-principal);
  font-weight: 500;
  width: 370px;
}
.navegacao,
a {
  text-decoration: none;
  color: var(--text-color);
  font-family: "inter", sans-serif;
  font-weight: 500;
  
}
.acesso {
  margin-left: 22%;
  gap: 25px;
}
.acesso,
button {
  font-weight: 500;
  font-family: "inter", sans-serif;
}
.acesso_botao1 {
  border: none;
  background-color: #ffffff;
  color: var(--text-color);
}
.acesso_botao2 {
  padding: 8px 14px 8px 14px;
  background-color: var(--main-color);
  border-color: var(--main-color);
  border-radius: 8px;
  color: #ffffff;
}

/* css do cabeçalho */

.apresentacao {
  width: 100vw;
  height: 407px;
  display: flex;
  flex-direction: column;
  padding: 90px;
  gap: 50px;
}

.apresentacao p {
  font-family: var(--fonte-principal);
  color: var(--main-color);
  font-size: 1.5rem;
  font-weight: 600;
}

.apresentacao h1 {
  font-family: var(--fonte-principal);
  font-size: 3rem;
}

.apresentacao span {
  font-family: var(--fonte-principal);
  color: var(--text-color);
  font-size: 1.5rem;
  width: 60%;
  text-align: center;
}

/* css das métricas */

.metricas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 50px;
  padding: 50px;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.cards h1 {
  font-family: var(--fonte-principal);
  font-weight: 600;
  font-size: 4rem;
  color: #8e2424;
}

.cards p {
  font-family: var(--fonte-principal);
  color: var(--text-color);
}
  