@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap");

:root {
  --text-color: #667085;
  --text-color-dark: #3a404e;
  --main-color: #8e2424;

  --fonte-principal: "inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* css do navbar */

header {
  width: 100vw;
  height: 80px;
}
navbar {
  display: flex;
  align-items: center;
  margin-top: 18px;
  margin-left: 80px;
}
navbar,
div {
  display: flex;
  align-items: center;
}
.logo {
  margin-left: 12%;
  gap: 10px;
  font-family: var(--fonte-principal);
}
.logo,
p {
  color: var(--text-color-dark);
}
.navegacao {
  margin-left: 10%;
  gap: 35px;
  font-family: var(--fonte-principal);
  font-weight: 500;
  width: 370px;
}
.navegacao,
a {
  text-decoration: none;
  color: var(--text-color);
  font-family: "inter", sans-serif;
  font-weight: 500;
}
.acesso {
  margin-left: 22%;
  gap: 25px;
}
.acesso,
button {
  font-weight: 500;
  font-family: "inter", sans-serif;
}
.acesso_botao1 {
  border: none;
  background-color: #ffffff;
  color: var(--text-color);
}
.acesso_botao2 {
  padding: 8px 14px 8px 14px;
  background-color: var(--main-color);
  border-color: var(--main-color);
  border-radius: 8px;
  color: #ffffff;
}

/* css do cabeçalho */

.apresentacao {
  width: 100vw;
  height: 407px;
  display: flex;
  flex-direction: column;
  padding: 90px;
  gap: 50px;
}

.apresentacao p {
  font-family: var(--fonte-principal);
  color: var(--main-color);
  font-size: 1.5rem;
  font-weight: 600;
}

.apresentacao h1 {
  font-family: var(--fonte-principal);
  font-size: 3rem;
}

.apresentacao span {
  font-family: var(--fonte-principal);
  color: var(--text-color);
  font-size: 1.5rem;
  width: 60%;
  text-align: center;
}

/* css das métricas */

.metricas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 50px;
  padding: 50px;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.cards h1 {
  font-family: var(--fonte-principal);
  font-weight: 600;
  font-size: 4rem;
  color: #8e2424;
}

.cards p {
  font-family: var(--fonte-principal);
  color: var(--text-color);
}

/* css do anuncio de vagas */

.vagas__anuncio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  padding-bottom: 64px;
}
.vagas__anuncio img {
  width: 80%;
}

.anuncio {
  display: flex;
  flex-direction: column;
  padding: 150px 0 0 0;
  gap: 20px;
}

.anuncio p {
  font-family: var(--fonte-principal);
  color: var(--main-color);
  font-weight: 500;
  background: rgba(142, 36, 36, 0.05);
  padding: 8px;
  border-radius: 12px;
}

.anuncio h2 {
  font-family: var(--fonte-principal);
  font-size: 2.2rem;
  font-weight: 600;
}

.anuncio span {
  font-family: var(--fonte-principal);
  color: var(--text-color);
  font-weight: 400;
}

/* css dos detalhes das vagas */

.vagas_detalhes {
  padding: 64px 0 70px;
}

.vagas_detalhes h2 {
  font-family: var(--fonte-principal);
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0 0 45px 30%;
}

.vaga {
  margin-left: 30%;
  margin-bottom: 24px;
  padding: 1% 1%;
  width: 37%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 32px;
  border:  2px solid #EAECF0;
  border-radius: 16px;
}
.vaga span {
  font-family: var(--fonte-principal);
  font-size: 1rem;
  font-weight: 500;
}

.titulo-vaga {
font-family: var(--fonte-principal);
font-weight: 500;
font-size: 1.2;
}

.informacoes {
  gap: 24px;
}

.informacoes span{
  color: var(--text-color);
}

/* css do comentário */

.container_comentarios {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comentarios {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  background: rgba(196, 25, 25, 0.03);
  width: 70%;
  padding: 30px;
  border-radius: 16px;
}

.comentarios_titulo {
  font-family: var(--fonte-principal);
  font-weight: 600;
  font-size: .8rem;
  color: var(--main-color);
}

.comentarios_comentario {
  font-family: var(--fonte-principal);
  font-weight: 500;
  font-size: 2.1rem;
  width: 60vw;
}

.comentarios img {
  width: 56px;
  height: 56px;
  border-radius: 200px;
}

.comentarios_nome {
  font-family: var(--fonte-principal);
  font-weight: 500;
  font-size: 1rem;
}

.comentarios_cargo {
  font-family: var(--fonte-principal);
  font-weight: 400;
  font-size: .9rem;
  color: var(--text-color);
}

/* css do footer */

footer {
  width: 100vw;
  height: 430px;
  background-color: #F9FAFB;
}

footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 0 96px 0;
  gap: 26px;
}

footer div h1 {
  font-family: var(--fonte-principal);
  font-weight: 600;
  font-size: 2.1rem;
}

footer div p {
  font-family: var(--fonte-principal);
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--text-color);
}

footer div form input {
  width: 360px;
  padding: 8px;
  border-radius: 5px;
  border-color: #D0D5DD;
}

footer div span {
  font-family: var(--fonte-principal);
  font-weight: 400;
  font-size: .9rem;
  color: #98A2B3;
}
